.background-green{
    background-color: #042425;
    position: relative;
    top: 0;
    width: 100%;
    height: 20%;
}
.quizz{
    width: 8%;
    height: 100%;
    float: left;
}
.quizz>a>img{
    width: 100%;
    height: 100%;;
}
#titre{
    position: relative;
    left: 30%;
    top: 30%;
    color: white;
    font-size: 2.3em;
    font-weight: bold;
}
.arriere-plan{
    background-image: url('../images/img-bg.jpg');
    width: 100%;
    height: 1000px;
}
.conteneur{
    background-color: #f2f2f2;
    position: relative;
    top: 1%;
    width: 90%;
    height: 80%;
    margin: auto;
}
.entete{
    background-color: #51bfd0;
    width: 100%;
    height: 10%;
}
.image{
    float: left;
    width: 20%;
    height: 100%;
}
.pp{
    position: relative;
    left: 5%;
    top: 5%;
    width: 20%;
    height: 60%;
    border-radius: 50%;
    border: #6e9393 solid 1px;
}
.image>.pp>img{
    position: relative;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}
#prenom,#nom{
    color: white;
    position: relative;
    top: 10px;
    left: 3%;
}
.text{
    color: white;float: left;
    position: relative;
    top: 20%;
    font-size: 1.2em;
}
.class-deconnexion{
    float: left;
    background: #3addd6;
    height: 40%;
    width: 12%;
    position: relative;
    left: 7%;
    top: 30%;
    border-radius: 5px;
    text-shadow: 0px 0px 5px;
    box-shadow: 0px 0px 5px;
    
}
.class-deconnexion a{
    position: relative;
    left: 10%;
    top: 17%;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}
.conteneur-body{
    width: 95%;
    height: 87%;
    margin: auto;
    position: relative;
    top: 10px;
    border-radius: 3px;
    background-color: white;
}
.question{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 63%;
    height: 75%;
    background-color: none;
    border: 2px solid #3addd6;
    border-radius: 6px;
}
.question-jeu{
    width: 95%;
    height: 22%;
    text-align: center;
    background-color: #f7f7f7;
    margin: auto;
    position: relative;
    top: 10px;
    box-shadow: 2px 2px skyblue;
}
.question-score{
    width: 10%;
    height: 25px;
    padding:3px;
    text-align:center;
    font-size: 20px;
    background-color: #f7f7f7;
    float: right;
    position:relative;
    right: 15px;
    margin-top: 20px;
    box-shadow: 2px 2px skyblue;
}
.score{
    position: relative;
    left: 620px;
    bottom: 700px;
    margin-left: 10px;
    margin-top: 50px;
    width: 27%;
    height: 50%;
    background-color: white;
    box-shadow: 0px 0px 5px;
}
.link-score{
    width: 100%;
    height: 10%;}
.lks{
    text-decoration: none;

}
.best-score{
    float: left;
    width: 40%;
    height: 20%;
    box-shadow: none;
    margin-right: 10%;
    margin-top: 10px;
    font-size: 13px;
    border-left: 1px solid black;
    color: #6e9393;
    text-decoration: none;
    text-align: center;
}
.affichage{
    width: 90%;
    margin: auto;
    height: auto;
    color: #818181;
    font-size: 25px;
    font-weight: bolder;
}
.reponse{
    width: 80%;
    height: 50px;
    font-size: 28px;
    margin: auto;
    position: relative;
    top: 90px;
}
input[type=checkbox]:enabled{
    width: 30px;
    height: 30px;
    border: 5px solid skyblue;
}
input[type=radio]:enabled{
    width: 30px;
    height: 30px;
    border: 5px solid skyblue;
}
p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
button{
    font-size: 20px;
    color: white;
    background-color: #3addd6;
    border: none;
}