.form-control{
    width: 100%;
    height: 10%;
    padding-top: 3%;
    position: relative;
    left: 40%;
    font-size: 20px;
    color: #989898;
}
.input-nbr{
    width: 10%;
    color: #989898;
    font-size: 20px;
    font-weight: bolder;
}
.btn-ok{
    font-size: 21px;
    background-color: #51bfd0;
    border: 1px solid #51bfd0;
    color: white;
    position: relative;
    left: 5%;
}
.conteneur-question{
    background-color: none;
    position: relative;
    bottom: 30px;
    width: 90%;
    height: 80%;
    margin: auto;
    border: 3px solid #989898;
    border-radius: 5px;
}
.suivant{
    background-color: #f8f3f0;
    position: relative;
    bottom: 28px;
    width: 100%;
    height: 10%;
}
.link-suivant{
    width: 20%;
    height: 30px;
    background-color: #3addd6;
    border: #3addd6;
    border-radius: 3px;
    position: relative;
    left: 73%;
    top: 10px;
    font-size: 20px;
    text-shadow: 0px 0px 5px;
    box-shadow: 0px 0px 5px;
}
.link-suivant>a{
    color: white;
    text-decoration: none;
    position: relative;
    left: 20%;
    top: 15%;
}