.h2{
    color: #989898;
    font-style: italic;
    position: relative;
    top: 5%;
    text-align: center;
}
.conteneur-joueur{
    background-color: none;
    width: 85%;
    margin: auto;
    height: auto;
    border: 2px solid  #3addd6;
    border-radius: 3px;
    position: relative;
    top: 2%;
}
button{
    position: relative;
    top: 250px;
    float: right;
    width: 30%;
    background-color: #3addd6;
    border-radius: 5px;
    font-size: 18px;
}